* {
  box-sizing: border-box;
}

:root {
  --primary-colour: #000;
  --secondary-colour: #fff;
  --warning-colour: #eb1b23;
}

Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 20px;
  padding: 20px 30px;
  font-size: 0.7rem;
}
.home-main {
  text-align: center;
}

.home-header {
  margin: 30px 10px;
  padding: 10px;
  font-size: 0.6rem;
  text-align: left;
  border-top: 0.5px solid var(--primary-colour);
  border-bottom: 0.5px solid var(--primary-colour);
}

.home-figure {
  position: relative;
  text-align: center;
  border-radius: 10px;
  margin: 30px -0.5px 0;
}

#home-article-img {
  margin-top: 10px;
  padding: 0;
}

figcaption {
  background-color: transparent;
  color: var(--secondary-colour);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-article-topic {
  border: 1px solid var(--secondary-colour);
  margin: 20px 10px;
  padding: 7px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: var(--secondary-colour);
  padding: 7px;
  border: 1px solid var(--primary-colour);
}

.loading-header {
  text-align: center;
}

.articles-main {
  text-align: center;
}

.topic-header {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 20px 0;
  padding: 7px;
  border: 1px solid var(--primary-colour);
}

.sort-dropdown,
.orderby-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.orderby-section {
  gap: 20px;
}

.sort-dropdown-title,
.orderby-title {
  font-size: 0.8rem;
}

select {
  margin: 0 10px;
  padding: 2px 0;
  border-radius: 2px;
  border: 0.5px solid var(--primary-colour);
  text-align: left;
}

.order-by-button {
  padding: 4px;
  border-radius: 2px;
  border: 0.5px solid var(--primary-colour);
}

.queries-submit-btn {
  margin-top: 20px;
  padding: 5px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}

.article-card p {
  font-size: 0.9rem;
}

.article-card button {
  margin-top: 10px;
}

h3 {
  font-size: 1rem;
}

img {
  width: 100%;
  margin-top: 10px;
}

.single-article {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
}

#single-article-img,
img {
  width: 100%;
  padding: 10px;
}

.single-article-topic {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 7px;
  border: 1px solid var(--primary-colour);
}

.single-article button {
  margin: 30px 0 10px;
}

.comments-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.single-comment {
  margin: 20px 10px;
  padding: 20px;
  border: 0.5px solid var(--primary-colour);
}

.comment-body {
  font-size: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  font-size: 1.5rem;
}

label {
  margin: 20px 0;
}

textarea {
  padding: 20px;
  text-align: center;
}

.characters-message,
.characters-limit {
  font-size: 0.7rem;
  font-style: italic;
  color: var(--primary-colour);
}

.characters-message {
  color: var(--primary-colour);
}

.characters-limit {
  color: var(--warning-colour);
}

.article-votes button {
  margin: 5px;
}

.comment-votes button {
  margin: 2px;
  padding: 4px;
}

/* media-queries */

@media only screen and (max-width: 768px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}
