* {
  box-sizing: border-box;
}

:root {
  --primary-colour: #000;
  --secondary-colour: #fff;
}

Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0 10px;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  background-color: var(--secondary-colour);
  padding: 7px;
  border: 1px solid var(--primary-colour);
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.article-card p {
  font-size: 0.9rem;
}

.article-card button {
  margin-top: 10px;
}

h3 {
  font-size: 1rem;
}

img {
  width: 100%;
  margin-top: 10px;
}

.single-article {
  padding: 20px;
  text-align: center;
}

#single-article-img,
img {
  width: 100%;
  padding: 10px;
}

.single-article-topic {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 7px;
  border: 1px solid var(--primary-colour);
}

.single-article button {
  margin-bottom: 20px;
}

.loading-header {
  text-align: center;
}

/* media-queries */

@media only screen and (max-width: 768px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}
